{% extends 'home_base.html' %}
{% block head %}
<head>
	<title>About US</title>
</head>
{% endblock %}
{% block body %}
<div class="container">

		<!-- Introduction Row -->
		<div style="text-align: right;margin-top:20px">
			<h1>درباره ما
			<small style="font-size: 1rem">  آشنایی شما با ما باعث خوشحالی ماست  </small>
			</h1>
			<p><b></b></p>
		</div>
		<!-- Team Members Row -->
		<div style="margin-top:20px">
			<div class="row">
			<br>
			<br>
			<div class="col-lg-12 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="/static/Img/PicsArt.jpg"  height="200" width="200" alt="">
				<h3><small> CEO </small>   محمدمهدی اسکندری
				</h3>
				<p> 09197407606 </p>
				<ul class="social-icons3">
					<li><a target="blank" href="https://www.linkedin.com/in/mhmdmahdi-eskandari-0901b9153/" class="fa fa-linkedin-square " style="font-size:36px;color:#0E76A8"> </a></li>
					<li><a target="blank" href="https://github.com/MhmdMahdiEskandari" class="fa fa-github-square" style="font-size:36px;color:black"> </a></li>
				</ul>
				<br>
			</div>
			</div>
		</div>
	  </div>
{% endblock %}